@import '../../index.css';

.label {
  display: block;
  padding: 20px;
  background-color: var(--grey-color);
  font-weight: 700;
  text-align: left;
}
.label span {
  display: block;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  border: 0;
  outline: 0;
}
.input:focus {
  box-shadow: var(--grey-shadow);
}
