.text {
  display: block;
  padding: 0;
  margin: 0;
}
.text {
  margin-right: 16px;
  text-align: left;
}
.paper {
  width: 360px;
  padding: 16px;
  display: flex;
  align-items: baseline;
  /* padding: 20px; */
  justify-content: space-between;
  /* border: solid 1px #fff; */
}
